@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    transition: 0.5s;
    background-color: black;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    background-color: white;
    text-align: center;
}

.container:hover {
    box-shadow: 6px 6px 100px rgb(253, 250, 250,50%);
}

.box:hover {
    box-shadow: 6px 6px 10px rgba(19, 18, 18, 50%);
}

button:hover {
    box-shadow: 6px 6px 20px rgba(19, 18, 18, 50%);
}

.box {
    text-align:justify;
}
button {
    
    width: 50%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 15px;
}